footer.footer
	background-color: #1574B7
	padding: 1em 2em
	ul
		list-style: none
		padding-left: auto
		li a 
			color: $color-claro
			text-decoration: none
			font-weight: 300
			line-height: 2em
			&:hover
				text-decoration: underline
				color: $color-primary