section.cuadro-paso2,
section.cuadro-paso2-b
	background-color: $color-paso2
	// height: 220px
	// width: 30%
	position: relative
.aPaso3-btn.btn
	text-align: right
	padding: 1em 0
	width: 100%
	display: block
	color: #fff
	position: absolute
	right: 10%
	&:hover
		color: #ddd
		&:after
			position: absolute
			right: -1em
			content: ' >'
section.cuadro-paso2-b
	@include media($large-screen)
		width: 57% !important
		height: 100px
	.cuadro-info
		@include display(flex)
		@include justify-content(space-arround)
		button 
			background: darken($color-paso2,20)
			border: none
		input,select,button
			margin: 0 0.5em
		button
			text-transform: uppercase
			font-weight: 600
			border-radius: 0.5em
			padding: 0.5em 1.5em
			background: transparent
