
section.cuadro-paso4,.cuadro-pasoTerrenos
	background-color: $color-paso4
	height: auto
	margin-bottom: 0
	.cuadro-title
		@include justify-content(flex-start)
		// @include align-items(center)
		// width: 95%
	.cuadro-info
		white-space: nowrap

		li.proyecto 
			width: 320px
			vertical-align: top
			min-width: 95%
			overflow: hidden
			margin: 0.5em auto
			display: inline-block
			@include media($small-screen) 
				min-width: 120px
				margin: 0 0.5em
			img
				height: 160px
				width: 90%
				margin: auto
				display: block
				border-radius: 0.8em
		h4
			margin: 0
			color: #FFF
			text-align: center
			font-weight: 300
			strong
				font-weight: 600
				margin: 0 0.2em

section.casas 
	width: 100%
	position: relative
.casa-paso4
	width: 100%
	position: relative
	margin-bottom: 8em
	padding: 1em
	@include media($small-screen) 
		@include display(flex)
		@include justify-content(space-between)

	.casa-galeria
		@include order(2)
		@include display(flex)
		@include flex-direction(column)
		overflow: hidden
		@include media($small-screen) 
			@include flex-direction(row)
			width: 60%
		figure,li
			margin: 0
			padding: 0
			img
				// display: block
				border-radius: 1em
				max-height: 100%
		.casa-imagen
			width: 100%
			height: 220px
			display: flex !important
			justify-content: center !important
			text-align: center
			float: none !important
			margin: 0
			padding: 0
			img
				display: inline-block
				text-align: center
				width: auto !important
			@include media($small-screen) 
				height: 350px
		li img
			width: 100%
		.casa-imagenes
			border-radius: 1em
			overflow: hidden
			height: 100%
		.casa-imagenes-control
			width: 100%
			text-align: center
			margin: 0.5em auto 1em
			list-style: none
			padding: 0
			@include media($small-screen) 
				width: 70px
				margin: 0
				margin-left: 5px
				padding: 0
			.casa-imagencita
				width: 65px
				margin: 0.2em 0
				vertical-align: top
				border-radius: 0.3em
				display: inline-block
				padding: 0
				a
					display: block
					line-height: 0
					padding: 0
					height: 100%
					img
						height: 100%


	.casa-informaciones
		@include order(0)
		width: 220px
		margin: 0 auto
		line-height: 1.1
		hr
		 border-style: dashed
		 margin: 1em 0
		 border-color: #999
		h3.Referencia
			margin: 0.2em 0
			color: $color-paso3
			font-size: 2.3em
		h5
			color: $text-color
			margin: 0 0 0.5em 0
		p 
			margin: 0
	.precios
		@include display(flex)
		.precio
			width: 50%	
			span 
				background-color: $color-paso4
				font-size: 0.8em
				border-radius: 0.3em
				padding: 0 0.2em
				color: white
	p.ico-pdf
		margin: 1em 0
		i 
			margin-right: 0.5em
	ul.casa-acabados
		@include display(flex)
		@include flex-wrap(wrap)
		list-style-type: circle
		list-style-position: inside
		margin: 0
		padding-left: 0em
		li 
			width: 50%
			line-height: 1.6em

	a.casa-btn
		@include order(1)
		@include align-self(flex-end)
		background-color: $color-paso4
		color: #fff
		border-radius: 0.5em
		text-align: center
		padding: 0.5em 1em	
		display: block
		font-weight: 600
		line-height: 1em
		font-size: 0.9em
		&:hover
			background-color: $color-paso3

	.casa-footer
		@include display(flex)
		@include justify-content(space-between)
		width: 100%
		position: absolute
		top: 100%
		left: 0
		margin-top: 0.5em
		height: 3em
		border-top: 1px solid $color-paso3
		font-weight: 600
		color: $color-paso3
		a 
			color: $color-paso3
			&:after
				content: ' >>'