extends _layout/default

block title
	title Prohogar S.A. - Presupuesto 5 Pasos

block body
	include _includes/slide
	.cont-pasos
		include _includes/paso1
		include _includes/paso2
		include _includes/paso3
		include _includes/paso4
		include _includes/paso5