extends _layout/default

block title
	title Prohogar S.A. - Presupuesto 5 Pasos

block body
	include _includes/slide-b
	.cont-pasos#cont-proyectos
		include _mixin/cuadro-title
		include _mixin/mixin-paso4
		include _includes/paso1-b
		include _includes/paso2-b
		include _includes/paso4-b
		include _includes/paso5-b