body
  font-family: $font-family
.home-wrap
  display: block
  margin: 0 auto
  min-height: 100vh
.home-sections
  section
    box-sizing: border-box

.cont-pasos
	width: 90%
	margin: auto
	@include display(flex)
	@include flex-wrap(wrap)
	@include align-items(center)
	@include justify-content(center)


