footer.footer
	//- include navigator
	.cont-footer
		aside.social
			ul
				li.fa.fa-twitter: a(href="#")
				li.fa.fa-facebook-square: a(href="#")
		aside.info
			p Austria 1730 esq. Viena
			p Tel.: 021 603 937, Cel.: 0983828382
			p contacto64prohogar.com.py