section.cuadro-paso5
	+cuadro-title('5','Seleccione un presupuesto')
	.cuadro-info
		.datos
			p.dato
				|M2: 98.36   Gs./M2: 1,315,825 
				strong Gs.: 129.424.553
			p.dato
				|Planta Baja - 0° Nivel 
				strong Gs. 63.329.806  
			p.dato
				|Planta Alta - 1° Nivel 
				strong Gs. 66.094.746 
		.entrega
			.entrega-title
				h3 Plazo de entrega
				select(name="id_lugar",id="id_lugar",onchange="mostrar_terrenos() ;cargando();")
					option(value='') 48
					option(value='') 36
					option(value="") 24
					option(value='') 12
					option(value='') 6
			table.entrega-table
				tr
					th Pagos por Etapas
					th Meses
					th Totales
					th Dias
				tr
					td 1°: Estructuras
					td 4.8
					td 28.473.402
					td 144
				tr
					td 2°: Cerramientos
					td 4.57
					td 27.049.732
					td 137
				tr
					td 3°: Instalaciones
					td 4.33
					td 25.626.061
					td 130
				tr
					td 4°: Revestimientos
					td 3.83
					td 22.778.721
					td 115
				tr
					td 5°: Artefactos
					td 3.37
					td 19.931.381
					td 101
				tr
					td 6°: Terminaciones
					td 3.13
					td 18.507.711
					td 94
				tr
					td 
						|Pago (+IVA): 
						strong 5.931.959
					td Mensual
					td 142.367.008
					td 720
		a.btn Contacte por este presupuesto


