section.cuadro-paso4
	+cuadro-title('4','Tipo de construcción')
	ul.cuadro-info#info
		+proyecto(
			'UnDormitorio',
			'045',
			'1'
		)
		+proyecto(
			'DosDormitorios',
			'047',
			'2'
		)
		+proyecto(
			'UnDormitorio',
			'058',
			'1'
		)
		+proyecto(
			'TresDormitorios',
			'060',
			'3'
		)
		+proyecto(
			'UnDormitorio',
			'058',
			'1'
		)
		+proyecto(
			'TresDormitorios',
			'060',
			'3'
		)
		
section.casas#section-casas
	+construccion(
		'444',
		'1',
		'112.62',
		'1.570.919',
		'176.914.893',
		'1.646.389',
		'#',
		'#'
	)
	//- +construccion(
	//- 	'555',
	//- 	'1',
	//- 	'112.62',
	//- 	'1.570.919',
	//- 	'176.914.893',
	//- 	'1.646.389',
	//- 	'#',
	//- 	'#'
	//- )
	//- +construccion(
	//- 	'666',
	//- 	'1',
	//- 	'112.62',
	//- 	'1.570.919',
	//- 	'176.914.893',
	//- 	'1.646.389',
	//- 	'#',
	//- 	'#'
	//- )
	//- +construccion(
	//- 	'777',
	//- 	'1',
	//- 	'112.62',
	//- 	'1.570.919',
	//- 	'176.914.893',
	//- 	'1.646.389',
	//- 	'#',
	//- 	'#'
	//- )
	//- +construccion(
	//- 	'888',
	//- 	'1',
	//- 	'112.62',
	//- 	'1.570.919',
	//- 	'176.914.893',
	//- 	'1.646.389',
	//- 	'#',
	//- 	'#'
	//- )
	//- +construccion(
	//- 	'999',
	//- 	'1',
	//- 	'112.62',
	//- 	'1.570.919',
	//- 	'176.914.893',
	//- 	'1.646.389',
	//- 	'#',
	//- 	'#'
	//- )


