section.cuadro-paso4
	+cuadro-title('','Tipo de construcción')
	ul.cuadro-info
		+proyecto2(
			'UnDormitorio',
			'1'
		)
		+proyecto3(
			'DosDormitorios',
			'2'
		)
		+proyecto3(
			'TresDormitorios',
			'3'
		)

		
section.casas#section-casas
	+construccion(
		'444',
		'1',
		'112.62',
		'1.570.919',
		'176.914.893',
		'1.646.389',
		'#',
		'#'
	)
	//- +construccion(
	//- 	'555',
	//- 	'1',
	//- 	'112.62',
	//- 	'1.570.919',
	//- 	'176.914.893',
	//- 	'1.646.389',
	//- 	'#',
	//- 	'#'
	//- )
	//- +construccion(
	//- 	'666',
	//- 	'1',
	//- 	'112.62',
	//- 	'1.570.919',
	//- 	'176.914.893',
	//- 	'1.646.389',
	//- 	'#',
	//- 	'#'
	//- )
	//- +construccion(
	//- 	'777',
	//- 	'1',
	//- 	'112.62',
	//- 	'1.570.919',
	//- 	'176.914.893',
	//- 	'1.646.389',
	//- 	'#',
	//- 	'#'
	//- )
	//- +construccion(
	//- 	'888',
	//- 	'1',
	//- 	'112.62',
	//- 	'1.570.919',
	//- 	'176.914.893',
	//- 	'1.646.389',
	//- 	'#',
	//- 	'#'
	//- )
	//- +construccion(
	//- 	'999',
	//- 	'1',
	//- 	'112.62',
	//- 	'1.570.919',
	//- 	'176.914.893',
	//- 	'1.646.389',
	//- 	'#',
	//- 	'#'
	//- )


