section.cuadro-paso3
	+cuadro-title("3","¿Ya tenés un terreno?")
	.cuadro-info
		.option
			label si
			input(type='radio',name="terreno",value='si') 
		.option
			label no
			input(type='radio',name="terreno",value='no')



	