section.cuadro-paso1
	+cuadro-title('1','¿En qué ciudad querés vivir?')
	.cuadro-info		
		select(name="id_lugar",id="id_lugar",onchange="mostrar_terrenos() ;cargando();")
			option(value="") -Elige una Ciudad-
			option(value='240') Aregua
			option(value='62') Asunción
			option(value='44') Capiatá
			option(value='45') Fernando de la Mora
			option(value='49') José Augusto Saldivar
			option(value='50') Lambaré
			option(value='51') Limpio
			option(value='52') Luque
			option(value='53') Mariano Roque Alonso
			option(value='55') Ñemby
			option(value='56') San Antonio
			option(value='57') San Lorenzo
			option(value='58') Villa Elisa
			option(value='241') Ypane