section.cuadro-paso3
	.cuadro-title		
		span.numero 3
		h3.title ¿Ya tenés un terreno?
	.cuadro-info
		.option
			label si
			input(type='radio',name="terreno",value='si') 
		.option
			label no
			input(type='radio',name="terreno",value='no')



	