section.cuadro-paso5
	+cuadro-title('5','Seleccione un presupuesto')
	.cuadro-info
		.datos
			p.dato
				|M2: 98.36   Gs./M2: 1,315,825 
				strong Gs.: 129.424.553
			p.dato
				|Planta Baja - 0° Nivel 
				strong Gs. 63.329.806  
			p.dato
				|Planta Alta - 1° Nivel 
				strong Gs. 66.094.746 
		.entrega
			.entrega-title
				h3 Monto a financiar
				p.entreg-montoTotal 148.642.699
			.entrega-cuadros
				.entrega-cuadro
					h4 Terreno (12169)
					p 45.000.000
				.entrega-cuadro
					h4 Construcción (225)
					p 81.076.174
				.entrega-cuadro
					h4 Terreno (12169)
					p 22.296.405
				.entrega-cuadro
					h4 Cuotas
					p 1.383.269
		a(href="#").btn Contacte por este presupuesto


