section.cont-paso4
	.cuadro-paso4
		.cuadro-title		
			span.numero 4
			h3.title Tipo de construcción
		.cuadro-info
			figure.proyecto
				img(src="assets/img/house.jpg", alt="")
				h4
					span.numero 1
					|Dormitorio
			figure.proyecto
				img(src="assets/img/house.jpg", alt="")
				h4
					span.numero 2
					|Dormitorios
			figure.proyecto
				img(src="assets/img/house.jpg", alt="")
				h4
					span.numero 3
					|Dormitorios
	article.casa-paso4
		.casa-imagenes
			img.casa-imagen.active(src="assets/img/house.jpg", alt="")
			img.casa-imagen(src="assets/img/house.jpg", alt="")
			img.casa-imagen(src="assets/img/house.jpg", alt="")
			img.casa-imagen(src="assets/img/house.jpg", alt="")
		.casa-informaciones
			h3.Referencia Casa ref 040
			p 1 baño
			p Sup. 112.62 m
				span 2
				| a 1,570,919 Gs.
			hr
			.precios
				.precio
					h5 Contado
					span Gs. 176.916.893
				.precio
					h5 Financiado
					span Gs. 1.646.389
			i.fa.fa-document Ver ficha técnica
			i.fa.fa-document ver presupuesto
			hr
			h5 Acabados
			ul
				li minimalista
				li Rústico
				li Tradicional
				li Fina
				li Lujo
		a.btn Seleccionar proyecto
		.pagination
			p 1 de 10 opciones
			a(href="#") ver siguiente



