section.slider.internas
	.fondo
		img(src="assets/img/slide/home.jpg", alt="")
	.slide.center
		img(src="assets/img/Logo-Prohogar-Z.png", alt="")
		//- h1.slogan Cinco pasos para tener<br>tu casa propia