section.cuadro-pasoTerrenos
	+cuadro-title('','Terrenos disponibles')
	ul.cuadro-info#terrenos
		+terrenos(
			'UnDormitorio',
			'Terreno 12 x 30...',
			'1'
		)
		+terrenos(
			'DosDormitorios',
			'Terreno ubicado...',
			'2'
		)
		+terrenos(
			'TresDormitorios',
			'Lotes de 12x30...',
			'1'
		)
		+terrenos(
			'UnDormitorio',
			'Terreno 12 x 30...',
			'1'
		)
		+terrenos(
			'DosDormitorios',
			'Terreno ubicado...',
			'2'
		)
		+terrenos(
			'TresDormitorios',
			'Lotes de 12x30...',
			'1'
		)
section.terrenos#section-terrenos
	+terreno(
		'Ciudad',
		'1',
		'Terreno 12 x 30 a 800 metros de la ruta que une ruta i y ruta ii zona poblada terreno 360m2 www.bienesraices.com.py',
		'1.570.919',
		'35.000.000',
		'1.646.389',
		'#',
		'#'
	)
		