section.cuadro-pasoTerrenos
	+cuadro-title('','Terrenos disponibles')
	ul.cuadro-info#info
		+proyecto(
			'UnDormitorio',
			'123',
			'1'
		)
		+proyecto(
			'DosDormitorios',
			'456',
			'2'
		)
		+proyecto(
			'UnDormitorio',
			'789',
			'1'
		)
section.terrenos#section-terrenos
	+construccion(
		'444',
		'1',
		'112.62',
		'1.570.919',
		'176.914.893',
		'1.646.389',
		'#',
		'#'
	)
		